body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color:#00ffcc;
    justify-content: center;
    align-items: center;
    height: 100vh;;
}
#reloj{
    font-size: 4em;
    letter-spacing: 4px;;
}
.amanecer {
    color: #ff9933; /* Naranja suave (5:00 - 7:59) */
}

.manana {
    color: #ffff66; /* Amarillo suave (8:00 - 11:59) */
}

.mediodia {
    color: #ffffff; /* Blanco brillante (12:00 - 15:59) */
}

.tarde {
    color: #ff6600; /* Naranja (16:00 - 18:59) */
}

.atardecer {
    color: #ff3366; /* Rosa-naranja (19:00 - 20:59) */
}

.noche {
    color: #00ffcc; /* Verde agua (21:00 - 4:59) */
}